@import "variables";
@import "bootstrap";
@import "shCore";
@import "shThemeDefault";

body {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: white;
}

.table-narrow {
  width: auto;
}
